# Ignorar todos os arquivos .properties em qualquer diretório
*.properties
src/main/resources/config.properties

# Exceto esses específicos (se necessário)
!**/src/main/resources/application.properties
!**/src/test/resources/application-test.properties

# Outras exclusões padrão
### Target ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/